<div class="row">

    <div class="col-lg-12">

        <div class="well gray gray-well-border" ng-show="budgetData == null || budgetData.length != neededMonths">

            <div class="row" style="height: 900px; overflow: auto;" match-viewport-height="90%">

                <div class="col-lg-8 col-lg-offset-2">

                    <h2>

                        <i class="fa fa-spinner fa-spin"></i>

                        Please wait while we load your budget data...

                    </h2>

                </div>

            </div>

        </div>

        <div class="well gray gray-well-border" ng-hide="budgetData == null || budgetData.length != neededMonths">

            <div class="row" style="height: 900px; overflow: auto;" match-viewport-height="90%">

                <div class="col-lg-3">

                    <div class="row budget-summary-height">

                    </div>

                    <div class="row">

                        <div class="panel panel-default">

                            <ul class="list-group">

                                <li class="list-group-item active budget-category-height" ng-repeat-start="category in masterCategories | orderBy: 'sortableIndex'"> 

                                    {{ category.name }}

                                </li>

                                <li class="list-group-item budget-category-height" ng-repeat-end ng-repeat="subcategory in category.subCategories | orderBy:'sortableIndex'">

                                    {{ subcategory.name }}

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

                <budget-list budget="budgetData[0]" categories="masterCategories"></budget-list>

                <budget-list budget="budgetData[1]" categories="masterCategories"></budget-list>

                <budget-list budget="budgetData[2]" categories="masterCategories"></budget-list>

            </div>

        </div>

    </div>

</div>