<div class="jumbotron col-lg-10 col-lg-offset-1">

    <h1>

        You Need a Web Budget

    </h1>

    <p>

        This is just a demo application I created to see how well I could mimic the default YNAB client application on the web. It's missing a ton of features, most notably the ability to edit anything (I really don't want to be responsible for screwing up your budgets!), but will allow you to check out your current budgets and transactions. It's not feature complete and probably never will be (just buy their software already, geeze...), but it was a fun exercise!

    </p>

    <p>

        <a class="btn btn-primary" href="#/budget/{{ budgetFile }}/account/{{ defaultAccount.entityId }}">

            Get started!

        </a>

    </p>

</div>
